<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<property name="LOG_PATH" value="./logs" />
	<property name="LOG_FILE_NAME" value="swimpool.log" />
	<property name="ERR_LOG_FILE_NAME" value="error-swimpool.log" />
	<property name="ROOT_LEVEL" value="${LOG_ROOT_LEVEL}" />
	<property name="JPA_LEVEL" value="${LOG_JPA_LEVEL}" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{yyyyMMdd HH:mm:ss:SSS} {%thread} %-3level %logger{5} - %msg %n</pattern>
		</encoder>
	</appender>

	<property name="LOG_PATTERN" value="%-5level %d{yyyyMMdd HH:mm:ss.SSS}[%thread] [%logger{0}:%line] - %msg%n"/>

	<!-- 정상적인 로그를 100MB 초과되면 zip 압축시킨다. -->
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE_NAME}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyyMMdd}_%i.log.zip</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- 에러 로그를 100MB 초과되면 zip 압축시킨다. -->
	<appender name="ErrorRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${ERR_LOG_FILE_NAME}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyyMMdd}_%i.log.zip</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>31</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="${ROOT_LEVEL}" additive="true">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
		<appender-ref ref="ErrorRollingFile" />
	</root>

	<logger name="jdbc.sqltiming" level="${JPA_LEVEL}" additive="false" />
	<logger name="jdbc.resultsettable" level="${JPA_LEVEL}" additive="false" />

</configuration>