<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>PET SHOP</title>
</head>
<body>
	<h1> A 팀의 펫샵 홈페이지 입니다. </h1>
	<p>현재시간 : {{curTime}}</p>
	<p><a href="/pet">펫 관리 페이지</a><p>
</body>
</html>